<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halink.scaffold.modular.mapper.RolePermissionRelationMapper">
  <resultMap id="BaseResultMap" type="com.halink.scaffold.common.entity.RolePermissionRelation">
    <!--@mbg.generated-->
    <!--@Table mgt_role_permission_relation-->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="user_create" jdbcType="BIGINT" property="userCreate" />
    <result column="user_modified" jdbcType="BIGINT" property="userModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, permission_id, user_create, user_modified, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mgt_role_permission_relation
    where role_id = #{roleId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from mgt_role_permission_relation
    where role_id = #{roleId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="role_id" keyProperty="roleId" parameterType="com.halink.scaffold.common.entity.RolePermissionRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mgt_role_permission_relation (permission_id, user_create, user_modified, 
      gmt_create, gmt_modified)
    values (#{permissionId,jdbcType=BIGINT}, #{userCreate,jdbcType=BIGINT}, #{userModified,jdbcType=BIGINT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="role_id" keyProperty="roleId" parameterType="com.halink.scaffold.common.entity.RolePermissionRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mgt_role_permission_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="userCreate != null">
        user_create,
      </if>
      <if test="userModified != null">
        user_modified,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="userCreate != null">
        #{userCreate,jdbcType=BIGINT},
      </if>
      <if test="userModified != null">
        #{userModified,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.halink.scaffold.common.entity.RolePermissionRelation">
    <!--@mbg.generated-->
    update mgt_role_permission_relation
    <set>
      <if test="userCreate != null">
        user_create = #{userCreate,jdbcType=BIGINT},
      </if>
      <if test="userModified != null">
        user_modified = #{userModified,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.halink.scaffold.common.entity.RolePermissionRelation">
    <!--@mbg.generated-->
    update mgt_role_permission_relation
    set user_create = #{userCreate,jdbcType=BIGINT},
      user_modified = #{userModified,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where role_id = #{roleId,jdbcType=BIGINT}
      and permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update mgt_role_permission_relation
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.userCreate,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="user_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.userModified,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="gmt_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.gmtCreate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="gmt_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.gmtModified,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where role_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.roleId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="role_id" keyProperty="roleId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mgt_role_permission_relation
    (permission_id, user_create, user_modified, gmt_create, gmt_modified)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.permissionId,jdbcType=BIGINT}, #{item.userCreate,jdbcType=BIGINT}, #{item.userModified,jdbcType=BIGINT}, 
        #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>