<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsc.startproject.modular.mapper.GroupUserRoleRelationMapper">
  <resultMap id="BaseResultMap" type="com.lsc.startproject.common.entity.GroupUserRoleRelation">
    <!--@mbg.generated-->
    <!--@Table mgt_group_user_role_relation-->
    <id column="group_id" jdbcType="BIGINT" property="groupId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="user_create" jdbcType="BIGINT" property="userCreate" />
    <result column="user_modified" jdbcType="BIGINT" property="userModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    group_id, user_id, role_id, user_create, user_modified, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mgt_group_user_role_relation
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from mgt_group_user_role_relation
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="group_id" keyProperty="groupId" parameterType="com.lsc.startproject.common.entity.GroupUserRoleRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mgt_group_user_role_relation (user_id, role_id, user_create, 
      user_modified, gmt_create, gmt_modified
      )
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{userCreate,jdbcType=BIGINT}, 
      #{userModified,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="group_id" keyProperty="groupId" parameterType="com.lsc.startproject.common.entity.GroupUserRoleRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mgt_group_user_role_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userCreate != null">
        user_create,
      </if>
      <if test="userModified != null">
        user_modified,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userCreate != null">
        #{userCreate,jdbcType=BIGINT},
      </if>
      <if test="userModified != null">
        #{userModified,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsc.startproject.common.entity.GroupUserRoleRelation">
    <!--@mbg.generated-->
    update mgt_group_user_role_relation
    <set>
      <if test="userCreate != null">
        user_create = #{userCreate,jdbcType=BIGINT},
      </if>
      <if test="userModified != null">
        user_modified = #{userModified,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsc.startproject.common.entity.GroupUserRoleRelation">
    <!--@mbg.generated-->
    update mgt_group_user_role_relation
    set user_create = #{userCreate,jdbcType=BIGINT},
      user_modified = #{userModified,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update mgt_group_user_role_relation
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when group_id = #{item.groupId,jdbcType=BIGINT} then #{item.userCreate,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="user_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when group_id = #{item.groupId,jdbcType=BIGINT} then #{item.userModified,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="gmt_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when group_id = #{item.groupId,jdbcType=BIGINT} then #{item.gmtCreate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="gmt_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when group_id = #{item.groupId,jdbcType=BIGINT} then #{item.gmtModified,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where group_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.groupId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="group_id" keyProperty="groupId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mgt_group_user_role_relation
    (user_id, role_id, user_create, user_modified, gmt_create, gmt_modified)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userId,jdbcType=BIGINT}, #{item.roleId,jdbcType=BIGINT}, #{item.userCreate,jdbcType=BIGINT}, 
        #{item.userModified,jdbcType=BIGINT}, #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
</mapper>