<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsc.startproject.modular.mapper.OperationMapper">
  <resultMap id="BaseResultMap" type="com.lsc.startproject.common.entity.Operation">
    <!--@mbg.generated-->
    <!--@Table mgt_operation-->
    <id column="operation_id" jdbcType="VARCHAR" property="operationId" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="operation_code" jdbcType="INTEGER" property="operationCode" />
    <result column="operation_desc" jdbcType="VARCHAR" property="operationDesc" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="permission_id" jdbcType="VARCHAR" property="permissionId" />
    <result column="perm" jdbcType="VARCHAR" property="perm" />
    <result column="route" jdbcType="VARCHAR" property="route" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    operation_id, operation_name, operation_code, operation_desc, request_url, permission_id, 
    perm, route, `type`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mgt_operation
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from mgt_operation
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lsc.startproject.common.entity.Operation">
    <!--@mbg.generated-->
    insert into mgt_operation (operation_id, operation_name, operation_code, 
      operation_desc, request_url, permission_id, 
      perm, route, `type`)
    values (#{operationId,jdbcType=VARCHAR}, #{operationName,jdbcType=VARCHAR}, #{operationCode,jdbcType=INTEGER}, 
      #{operationDesc,jdbcType=VARCHAR}, #{requestUrl,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR}, 
      #{perm,jdbcType=VARCHAR}, #{route,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lsc.startproject.common.entity.Operation">
    <!--@mbg.generated-->
    insert into mgt_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="operationName != null">
        operation_name,
      </if>
      <if test="operationCode != null">
        operation_code,
      </if>
      <if test="operationDesc != null">
        operation_desc,
      </if>
      <if test="requestUrl != null">
        request_url,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="perm != null">
        perm,
      </if>
      <if test="route != null">
        route,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationCode != null">
        #{operationCode,jdbcType=INTEGER},
      </if>
      <if test="operationDesc != null">
        #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="perm != null">
        #{perm,jdbcType=VARCHAR},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsc.startproject.common.entity.Operation">
    <!--@mbg.generated-->
    update mgt_operation
    <set>
      <if test="operationName != null">
        operation_name = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationCode != null">
        operation_code = #{operationCode,jdbcType=INTEGER},
      </if>
      <if test="operationDesc != null">
        operation_desc = #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="perm != null">
        perm = #{perm,jdbcType=VARCHAR},
      </if>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsc.startproject.common.entity.Operation">
    <!--@mbg.generated-->
    update mgt_operation
    set operation_name = #{operationName,jdbcType=VARCHAR},
      operation_code = #{operationCode,jdbcType=INTEGER},
      operation_desc = #{operationDesc,jdbcType=VARCHAR},
      request_url = #{requestUrl,jdbcType=VARCHAR},
      permission_id = #{permissionId,jdbcType=VARCHAR},
      perm = #{perm,jdbcType=VARCHAR},
      route = #{route,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT}
    where operation_id = #{operationId,jdbcType=VARCHAR}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update mgt_operation
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="operation_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when operation_id = #{item.operationId,jdbcType=VARCHAR} then #{item.operationName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="operation_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when operation_id = #{item.operationId,jdbcType=VARCHAR} then #{item.operationCode,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="operation_desc = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when operation_id = #{item.operationId,jdbcType=VARCHAR} then #{item.operationDesc,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="request_url = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when operation_id = #{item.operationId,jdbcType=VARCHAR} then #{item.requestUrl,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="permission_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when operation_id = #{item.operationId,jdbcType=VARCHAR} then #{item.permissionId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="perm = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when operation_id = #{item.operationId,jdbcType=VARCHAR} then #{item.perm,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="route = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when operation_id = #{item.operationId,jdbcType=VARCHAR} then #{item.route,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`type` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when operation_id = #{item.operationId,jdbcType=VARCHAR} then #{item.type,jdbcType=TINYINT}
        </foreach>
      </trim>
    </trim>
    where operation_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.operationId,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into mgt_operation
    (operation_id, operation_name, operation_code, operation_desc, request_url, permission_id, 
      perm, route, `type`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.operationId,jdbcType=VARCHAR}, #{item.operationName,jdbcType=VARCHAR}, #{item.operationCode,jdbcType=INTEGER}, 
        #{item.operationDesc,jdbcType=VARCHAR}, #{item.requestUrl,jdbcType=VARCHAR}, #{item.permissionId,jdbcType=VARCHAR}, 
        #{item.perm,jdbcType=VARCHAR}, #{item.route,jdbcType=VARCHAR}, #{item.type,jdbcType=TINYINT}
        )
    </foreach>
  </insert>
</mapper>